*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

* {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

/*General styles*/
body {
  background-color: #1f1f1f;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.back-arrow {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  padding: 0.6rem;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

/*Pin Mobile Styles*/
.pin-container {
  max-width: 320px;
  width: 90%;
  margin: 8rem auto;
  text-align: center;
}

.pin-container h1 {
  font-size: 1.7rem;
  margin-bottom: 1.3rem;
}

.pin-sub-container {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.9rem;
}

.pin-request {
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.pin-input {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  margin-bottom: 0.9rem;
  border: 2px solid #4caf50;
  border-radius: 0.3rem;
  transition: 0.3s ease-in-out;
  transform: 0.2s ease-in-out;
}

.pin-input:focus {
  transform: scale(1.02);
  border: none;
  border: 2px solid #4caf50;
}

.pin-proceed {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.7rem 5rem;
  border: none;
  border-radius: 0.3rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: 0.2s ease-in-out;
  background-color: #4caf50;
}

.pin-proceed:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.pin-error-div {
  width: 80%;
  display: none;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 0.7rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  background-color: #ff4d4d;
}

.pin-error-div.show {
  display: block;
}

/*Menu Mobile Styles*/
.menu-container {
  max-width: 320px;
  width: 90%;
  margin: 5rem auto;
}

.menu-container h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.3rem;
}

.menu-sub-container {
  border-radius: 0.9rem;
  padding: 2rem 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
}

.menu-features {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.menu-features button {
  display: flex;
  gap: 0.3rem;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  padding: 0.7rem;
  background-color: #4caf50;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.menu-features button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.change-pin-btn {
  font-size: 0.87rem;
  padding: 1.2rem;
}

.menu-cancel-btn {
  width: 100%;
  padding: 0.6rem;
  border: none;
  border-radius: 0.3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  grid-column: span 2;
  background-color: #ff4d4d;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.menu-cancel-btn:hover {
  background-color: #ff4d4d;
  transform: scale(1.05);
}

/*Deposit Accounts Mobile Syles*/
.deposit-account-type-container {
  text-align: center;
  margin-top: 10rem;
}

.deposit-account-type-container h2 {
  margin-bottom: 1.5rem;
}

.deposit-accounts-container {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 2.5rem 1rem 2.5rem;
  border-radius: 0.9rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
}

.deposit-accounts-button {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: block;
  width: 100%;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.7rem;
  margin-bottom: 1rem;
  color: #fff;
  border: none;
  background-color: #4caf50;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.deposit-accounts-button:hover {
  background-color: #4caf50;
  transform: scale(1.05);
}

/*Deposit Amount Mobile Styles*/
.deposit-amount-container {
  max-width: 320px;
  width: 90%;
  margin: 12rem auto;
  text-align: center;
}

.deposit-amount-sub-container {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.9rem;
  padding: 1rem;
  padding-bottom: 2.2rem;
}

.deposit-amount-request {
  margin-bottom: 1.5rem;
}

.deposit-amount-input {
  width: 90%;
  border: none;
  border-bottom: 2px solid #4caf50;
  outline: none;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  background: transparent;
}

.pin-error-div {
  width: 90%;
  display: none;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 0.7rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  background-color: #ff4d4d;
}
.deposit-amount-btn {
  width: 90%;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 0.3rem;
  color: #fff;
  padding: 0.7rem;
  background-color: #4caf50;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.deposit-amount-btn:hover {
  background-color: #4caf50;
  transform: scale(1.05);
}

/*Deposit Confirmation Mobile Styles*/
.confirmation-container {
  max-width: 320px;
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.9rem;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
}

.confirmation-header {
  margin-bottom: 2rem;
}

.confirmation-icon {
  font-size: 3rem;
  color: #4caf50;
  margin-bottom: 1rem;
}

.confirmation-details {
  text-align: left;
  margin: 2rem 0;
  padding: 1rem;
  color: #4caf50;
  font-weight: bold;
  background: #f9f9f9;
  border-radius: 0.9rem;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #999;
}

.detail-row:last-child {
  border-bottom: none;
}

.detail-row p {
  font-weight: bold;
  color: #555;
}

.confirmation-buttons {
  display: block;
}

.confirmation-btn {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.7rem;
  border: none;
  border-radius: 0.3rem;
  color: #fff;
  cursor: pointer;
  background: #4caf50;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.confirmation-btn:hover {
  background: #4caf50;
  transform: scale(1.05);
}

#print-receipt {
  background: #2196f3;
}

#print-receipt:hover {
  background: #0b7dda;
}

@media print {
  .confirmation-buttons {
    display: none;
  }

  body {
    background: #1f1f1f;
  }

  .confirmation-container {
    box-shadow: none;
    border: 1px solid #ddd;
  }
}

/*Withdrawal Account Mobile Styles*/
.w-account-type-container {
  max-width: 320px;
  width: 90%;
  margin: 7rem auto;
  text-align: center;
}

.w-account-type-container h2 {
  margin-bottom: 1.5rem;
}

.w-accounts-container {
  width: 100%;
  padding: 2rem 1.6rem;
  border-radius: 0.9rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
}

.w-accounts-container button {
  width: 90%;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 0.3rem;
  color: #fff;
  padding: 0.7rem;
  margin-bottom: 1rem;
  background-color: #4caf50;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.w-accounts-container .last-w-accounts-button {
  margin-bottom: 0;
}

.w-accounts-container button:hover {
  background-color: #4caf50;
  transform: scale(1.05);
}

/*Withdrawal Amount Mobile Styles*/
.w-amounts-container {
  max-width: 320px;
  width: 90%;
  margin: 1rem auto;
  text-align: center;
}

.w-amounts-container h2 {
  margin-bottom: 1.5rem;
}

.withdrawal-amounts input {
  display: block;
  align-self: start;
  justify-self: start;
  grid-column: 1 / -1;
  width: 80%;
  height: auto;
  border: none;
  outline: none;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  border-bottom: 2px solid #4caf50;
}

.withdrawal-proceed-button {
  display: block;
  align-self: start;
  justify-self: start;
  grid-column: 1 / -1;
  width: 80%;
  height: auto;
  border: none;
  text-align: center;
}

.withdrawal-amounts {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.1rem 1.6rem 1rem;
  border-radius: 0.9rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
}

.withdrawal-amounts button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  color: #fff;
  padding: 0.7rem;
  margin-bottom: 1rem;
  background-color: #4caf50;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.withdrawal-amounts button:last-child {
  margin-bottom: 0;
}

.withdrawal-amounts button:hover {
  background-color: #4caf50;
  transform: scale(1.05);
}

.w-error-div {
  width: 100%;
  display: none;
  height: auto;
  border: none;
  color: #fff;
  grid-column: 1 / -1;
  text-align: center;
  align-self: start;
  justify-self: start;
  margin: 0 auto;
  padding: 0.7rem;
  border-radius: 0.3rem;
  background-color: #ff4d4d;
}

.processing-message {
  width: 100%;
  display: none;
  height: auto;
  border: none;
  color: #fff;
  min-height: 1.5em;
  grid-column: 1 / -1;
  text-align: center;
  align-self: start;
  justify-self: start;
  margin: 0 auto;
  padding: 0.7rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  background-color: #0b7dda;
}

#w-print-receipt {
  background: #2196f3;
}

#w-print-receipt:hover {
  background: #0b7dda;
}

@media print {
  .confirmation-buttons {
    display: none;
  }

  body {
    background: #1f1f1f;
  }

  .confirmation-container {
    box-shadow: none;
    border: 1px solid #ddd;
  }
}

/*PIN Change Mobile Styles*/
.pin-change-container {
  max-width: 320px;
  width: 90%;
  margin: 3rem auto;
  text-align: center;
}

.pin-change-container h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.pin-change-sub-container {
  border-radius: 0.9rem;
  padding: 2.1rem 1.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.8rem;
  font-weight: bold;
  color: #4caf50;
}

.input-group input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
}

.input-group input:hover {
  outline: none;
  border-color: #4caf50;
}

.pin-error-message {
  color: #fff;
  margin: 0 auto;
  visibility: hidden;
  margin-bottom: 1rem;
  padding: 12px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: #e74c3c;
}

.pin-error-message.show {
  visibility: visible;
}

.pin-error-message.success {
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
}

.pin-submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.pin-submit-btn:hover {
  background-color: #4caf50;
  transform: scale(1.05);
}

.pin-submit-btn:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  /*Pin Desktop Version styles*/
  .pin-container {
    max-width: 768px;
    width: 90%;
    margin: 10rem auto;
    text-align: center;
  }

  .pin-container h1 {
    font-size: 2.3rem;
    margin-bottom: 1.3rem;
  }

  .pin-request {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  /*Menu Mobile Version Styles*/
  .menu-container {
    max-width: 768px;
    width: 90%;
    margin: 8rem auto;
  }

  .menu-container h2 {
    font-size: 1.7rem;
  }

  .menu-sub-container {
    padding: 2rem 2rem;
  }

  .menu-features button {
    display: flex;
    gap: 1rem;
  }

  /*Desktop Deposit Accounts Styles*/
  .deposit-account-type-container {
    margin-bottom: 9rem;
  }

  .deposit-account-type-container h2 {
    font-size: 1.7rem;
  }

  .deposit-accounts-container {
    max-width: 768px;
    width: 70%;
  }

  /*Deposit Amount Desktop Styles*/
  .deposit-amount-container {
    max-width: 768px;
    width: 90%;
    margin: 10rem auto;
    text-align: center;
  }

  .deposit-amount-request {
    font-size: 1.7rem;
  }

  /*Deposit Confirmation Desktop Styles*/
  .confirmation-container {
    max-width: 768px;
    margin: 1rem auto;
  }

  .confirmation-header h2 {
    font-size: 1.7rem;
  }

  .confirmation-icon {
    font-size: 3.5rem;
  }

  /*Withdrawal Account Desktop Styles*/
  .w-account-type-container {
    max-width: 768px;
  }

  .w-account-type-container h2 {
    font-size: 1.7rem;
  }

  /*Withdrawal Amount Desktop Styles*/
  .w-amounts-container {
    max-width: 768px;
    margin: 2rem auto;
  }

  .w-amounts-container h2 {
    font-size: 1.7rem;
  }

  /*PIN Change Desktop Styles*/
  .pin-change-container {
    max-width: 768px;
  }

  .pin-change-container h2 {
    font-size: 1.7rem;
  }

  /* #account-types-container {
    max-width: 768px;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 3.5rem 1rem 3.5rem;
    border-radius: 0.9rem;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
  }

  #withdrawal-account-type-container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
  }

  #withdrawal-amounts-container {
    max-width: 768px;
  }

  #withdrawal-amounts-container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
  }

  #withdrawal-amounts {
    padding: 2.5rem 2rem 1.5rem;
  }

  #confirm-withdrawal-container {
    max-width: 768px;
    width: 90%;
    margin: 7rem auto;
    text-align: center;
  }

  #confirm-withdrawal-container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
  }

  #confirm-withdrawal {
    padding: 2.5rem 3.5rem 1.5rem 3.5rem;
  } */
}
